<a href="https://colab.research.google.com/github/DameraRishika/Rishika/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
type(x)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
a+b+c

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
a="Rishi"
if type(a)==str:
 print(type(a))

<class 'str'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=int(input("enter firt number:"))
b=int(input("enter second number:"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)

enter firt number:56
enter second number:34
90
22
1904
1.6470588235294117

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
a="123"
print(int(a))
print(float(a))

123
123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
a=str(input("enter a string:"))
print(a[0])

enter a string:Rishi
R

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
a=str(input("enter a string:"))
len(a)

enter a string:Rishi

5

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
a=str(input("enter a string:"))
print(a.isalpha())

enter a string:Rishi
True

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
a=str(input("enter a string:"))
b=str(input("enter a string"))
print("concatenate:",a+b)

enter a string:Rishi
enter a stringCollege
concatenate: RishiCollege

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
a=str(input("enter a string:"))
substr="abc"
index=a.index(substr)
print(index)

enter a string:asdabc
3

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
a=str(input("enter a string:"))
print(a.upper())
print(a.lower())

enter a string:Rishi
RISHI
rishi

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
a=str(input("enter a string:"))
print("number of times i appears:")
print(a.count('i',0))

enter a string:Rishi
number of times i appears:
2

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
a=str(input("enter your name :"))
print("Hello {a} Good Morning")

enter your name :Rishika
Hello {a} Good Morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
a=int(input("enter first number:"))
b=int(input("enter second number:"))
print("sum:",a+b)

enter first number:45
enter second number:76
sum: 121

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
a=str(input("enter your name :"))
b=int(input("enter your age :"))
print(f"Hello my Name is {a} and my age is {b} ")

enter your name :Rishika
enter your age :19
Hello my Name is Rishika and my age is 19

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
a=float(input("enter a number :"))
if a>=0:
  if a==0:
    print("zero")
  else:
    print("positive number")
else:
  print("negative number")

enter a number :-78
negative number

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
a=int(input("enter a number :"))
b=int(input("enter a number :"))
c=int(input("enter a number :"))
print( max(a,b,c))
def max(a,b,c):

    if (a>=b) and (a>=c):
      print(" {a} is maxmum number")
    elif (b>=a) and (b>=c):
      print(" {b} is maximum number")
    else:
      print(" {c} is maxium number")

enter a number :3
enter a number :4
enter a number :1
 {b} is maximum number
None

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year=int(input("enter a year :"))
if year%4==0 and year%100!=0 :
  print("it is  leap year")
else:
  print("it is not  leap year")

enter a year :100
it is not  leap year

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
a=int(input("enter a number :"))
if a%3==0 and a%5==0:
  print("{a} is divisible by both 3 and 5")
else:
  print("{a} is not divisible by both")

enter a number :45
{a} is divisible by both 3 and 5

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
a=str(input("enter  :"))
if a==a[::-1]:
 print("it is a palindrome")
else:
  print("is is not a palindrome")

enter  :anna
it is a palindrome

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
i=0
while i<=20:
    print(i)
    i+=2

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
num=int(input("enter a number for miltiplication:"))
print("Multiplication table for:",num)
for count in range (1,11):
  print(num ,'x',count,'=', num*count)

enter a number for miltiplication:34
Multiplication table for: 34
34 x 1 = 34
34 x 2 = 68
34 x 3 = 102
34 x 4 = 136
34 x 5 = 170
34 x 6 = 204
34 x 7 = 238
34 x 8 = 272
34 x 9 = 306
34 x 10 = 340

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n=int(input("enter a number :"))
sum = 0
i=1
while i<=n:
    sum=sum+i
    i+=1
print('sum is:' ,sum)

enter a number :10
sum is: 55

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
n=int(input("enter a number to get factorial :"))
f=1
while n>=1:
  f*=n
  n-=1
print("Factorial is",f)

enter a number to get factorial :6
Factorial is 720

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n=int(input("enter a number to get fibonacci sequence till it :"))
a=0
b=1
for i in range(0,n):
  print(a,end = ' ')
  c=a+b
  a=b
  b=c

enter a number to get fibonacci sequence till it :8
0 1 1 2 3 5 8 13

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
num1=1
num2=100
for x in range(num1,num2):
  prime=True
  for i in range(2,x):
    if (x%i==0):
      prime = False
  if prime == True:
    print(x)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
i=48
while i<=50:
  print(i)
  i+=1

48
49
50

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for i in range(1,21):
  if i%2!=0:
    print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
str1=input("enter a string:")
target=input("enter a character to count the appears in string")
count=0
for c in str1:
  if c== target:
    count+=1
print(count)

enter a string:rishi
enter a character to count the appears in stringi
2

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
num = input("enter a number:")
sum = 0
for i in num:
    sum = sum+int(i)
print(sum)

enter a number:23
5

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [15]:
# Write a Python program to create a list of integers and print the sum of the elements.
a=[15,26,43,74,25]
result=sum(a)
print(" the sum of the list is:",result)

 the sum of the list is: 183

In [16]:
# Write a Python program to find the largest element in a list.
a=(54,10,16,87)
largest=max(a)
print(largest)

87

In [18]:
# Write a Python program to reverse a list.
a=[14,62,23,74,55]
a=a[::-1]
print(a)

[55, 74, 23, 62, 14]

In [22]:
# Write a Python program to remove all occurrences of a specific element from a list.
list=[10,20,26,30,45,26]
n=26
print("original list:")
print(list)
for x in list:
  if x==n:
    list.remove(x)
print("list after removing elements:")
print(list)

original list:
[10, 20, 26, 30, 45, 26]
list after removing elements:
[10, 20, 30, 45]

In [23]:
# Write a Python program to find the index of an element in a list.
num=[31,24,14,46,18,73,9]
index=num.index(46)
print("index of 46:",index)

index of 46: 3

In [26]:
# Write a Python program to find if a specific element exists in a list.
num=[15,67,56,97,74]
print(num)
n=int(input("enter a number:"))
if n in a:
  print(" element exists in list")
else:
  print('element does not exists in list')

[15, 67, 56, 97, 74]
enter a number:1
element does not exists in list

In [27]:
# Write a Python program to remove duplicates from a list.
def Remove(duplicate):
  final_list=[]
  for num in duplicate:
    if num not in final_list:
      final_list.append(num)
  return final_list
duplicate=[1,5,6,4,6,7,7]
print(Remove(duplicate))

[1, 5, 6, 4, 7]

In [29]:
# Write a Python program to count the occurrences of an element in a list.
a_list=['a',34,18,'a',17,25,'a','a']
occur=a_list.count('a')
print(occur)

4

In [34]:
# Write a Python program to get the number of even numbers in a list.
def list_even(x):
  even=[]
  for n in x:
    if n%2==0:
      even.append(n)
  return even
num=[13,24,62,63,41,8,92,3]
print(list_even(num))

[24, 62, 8, 92]

In [40]:
# Write a Python program to create a tuple and print it.
tup_a=['apple','banana','orange','papaya']
print(tup_a)

['apple', 'banana', 'orange', 'papaya']

In [41]:
# Write a Python program to convert a tuple to a list and vice versa.
my_tuple=("ss","aaa","d")
my_list=(my_tuple)
print("list is:",my_list)
print("tuple is:",my_tuple)

list is: ('ss', 'aaa', 'd')
tuple is: ('ss', 'aaa', 'd')

In [39]:
# Write a Python program to find the maximum and minimum values in a tuple.
import numpy as np
list1=[(13,13),(12,12),(32,32),(51,51)]
num=np.array(list1)
min_list=np.min(num,axis=0)
max_list=np.max(num,axis=0)
print("minimum of list:",min_list)
print("maxmum of list:",max_list)

minimum of list: [12 12]
maxmum of list: [51 51]

In [42]:
# Write a Python program to unpack a tuple into variables.
person=('Rishika',19,'female')
name,age,gender=person
print("name:",name)
print("age:",age)
print("gender:",gender)

name: Rishika
age: 19
gender: female

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.

In [ ]:
# Write a Python program to access a dictionary value using a key.

In [ ]:
# Write a Python program to check if a key exists in a dictionary.

In [43]:
# Write a Python program to merge two dictionaries.
d1={'x':'34','y':'25'}
d2={'z':'38'}
d3=d1|d2
print(d3)

{'x': '34', 'y': '25', 'z': '38'}

In [ ]:
# Write a Python program to remove a key from a dictionary.

In [ ]:
# Write a Python program to get the number of keys in a dictionary.

In [44]:
# Write a Python program to find the largest and smallest values in a dictionary.
marks={"m1":98,"m2":87,"m3":92,"m4":76}
v=marks.values()
max=max(v)
min=min(v)
print("maximum:",max)
print("minimum:",min)

maximum: 98
minimum: 76

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.

In [ ]:
# Write a Python function to check if a given number is prime.

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.

In [ ]:
# Write a Python function to calculate the power of a number using recursion.

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

**Note:**
- All assignments must follow [PEP 8  Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`